<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block">

                <img src="../../static/img/foto.jpg" />
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Intereses</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">
                    Jose Luis Delgadillo Gonzalez
                    <span class="text-primary">Curriculum Vitae</span>
                </h1>
                <div class="subheading mb-5">
                    Fecha de nacimiento 03-01-1997 · Tepatitlan de Morelos Jal, CO 47680 · (378) 128-2070 ·
                    <a href="mailto:name@email.com">lia.joseluis@hotmail.com</a>
                </div>
                <p class="lead mb-5">Con experiancia en el area de sistemas, alacen y areas administrativas</p>
                <div class="social-icons">

                    <a href="https://github.com/choche40">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/joseluis_choche/?hl=es-la">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/joseluis.delgadillogonzalez">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Sistemas</h3>
                        <div class="subheading mb-3">Walmart</div>
                        <p>Elaboración de reportes de la empresa como, Ventas, cambio de precio, Reporte de pérdidas, Mantenimiento de ordenadores, Inventarios, ETC</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2016 - 2017</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Oficina administrativa</h3>
                        <div class="subheading mb-3">Walmart</div>
                        <p>Arqueos, Manejo de efectivo y elaboración de reportes como balances, Cuadraje de reportes, Manejo de efectivo, Entrega de valores a tecnoval, Retiro de efectivo en caja chica, ETC.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary"> 2017 - 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Encargado de administracion</h3>
                        <div class="subheading mb-3">Emi</div>
                        <p>Trasferencias bancarias, Pago de nómina, Cálculo de finiquitos, Control de expedientes, Facturación, Control de creditos, ETC.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary"> 2018 - December 2019</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">San Matias</h3>
                        <div class="subheading mb-3">Logistica</div>
                        <p>Elavoracion de pedidos, metodo PEPS, Acomodo de mercancia,ETC</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">September 2019-2020 </span>
                    </div>
                </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">education</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">CECYTEJ 03</h3>
                        <div class="subheading mb-3">Tecnico en Administracion</div>
                        <div></div>
                        <p>GPA: Titulado</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Junio 2013 - junio 2016</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">Univerciadad UAL</h3>
                        <div class="subheading mb-3">LIC. Informatica Administrativa</div>
                        <p>GPA: En cuerso</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary"> Septiembre 2017 - Diciembre 2020</span>
                    </div>
                </div>

            </div>
        </section>



        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">Interests</h2>
                <p> Musica, Finanzas, Desarollo web, Tocar instrumantos musicales, Peliculas, ETC.</p>

            </div>
        </section>

        <hr class="m-0">



    </div>

    <!-- Bootstrap core JavaScript -->

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>
    >
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="../../static/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="../../static/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="../../static/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />


    <script src="../../static/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>



    <script src="../../static/vendor/jquery/jquery.js"></script>
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/jquery/jquery.slim.js"></script>
    <script src="../../static/vendor/jquery/jquery.slim.min.js"></script>


    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../../static/vendor/jquery-easing/jquery.easing.compatibility.js"></script>
    <script src="../../static/vendor/jquery-easing/jquery.easing.js"></script>

    <link href="../../static/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/brands.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/brands.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/regular.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/solid.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/svg-with-js.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/v4-shims.css" rel="stylesheet" />
    <link href="../../static/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet" />


    <link href="../../static/css/resume.min.css" rel="stylesheet" />
    <link href="../../static/css/resume.css" rel="stylesheet" />


    <script src="../../static/js/resume.js"></script>
    <script src="../../static/js/resume.min.js"></script>


</body>

</html>

